<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="mailapp"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            cardinality="singleton-global"
            visible="true">
         <run
               class="networkadministrator.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RAP Perspective"
            class="networkadministrator.Perspective"
            id="NetworkAdministrator.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            name="Message"
            icon="icons/sample2.gif"
            class="networkadministrator.View"
            id="NetworkAdministrator.view">
      </view>
      <view
            name="Mailboxes"
            icon="icons/sample3.gif"
            class="networkadministrator.NavigationView"
            id="NetworkAdministrator.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="networkadministrator.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="networkadministrator.category"
            id="NetworkAdministrator.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Opens a message dialog"
            categoryId="networkadministrator.category"
            id="NetworkAdministrator.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            servletName="mail"
            themeId="org.eclipse.rap.design.example.business.theme"
            defaultEntrypointId="NetworkAdministrator.mailapp"
            title="RAP Maildemo"
            id="networkadministrator.branding">
         <presentationFactory
               defaultLayoutId="org.eclipse.rap.design.example.fancy.layout"
               name="Fancy PresentationFactory"
               id="org.eclipse.rap.design.example.fancy.factory">
            <defaultStackPresentation
                  id="org.eclipse.rap.design.example.stack.view">
            </defaultStackPresentation>
         </presentationFactory>
      </branding>
   </extension>

</plugin>
